.leftperfect{
    padding-right: 5.5rem;
    padding-top: 1.2rem;
    max-width: 50%;
    height: 100%;
    font-size: 3rem;
    color: white;
    .line1{
        width: 3px;
        height: 80px;
        background-color: black;
        border-radius: 20px;
    }
    .line2{
        width: 3px;
        height: 80px;
        background-color: black;
        border-radius: 20px;
    }
}